.container{
   position: absolute;
   top: 0;
   mask: linear-gradient(to top, transparent, black 35%);
   backdrop-filter: blur(3px);
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 10vh;
   z-index: 10;
   max-height: 10vh;

   .logo{
      @extend .flex-center-div;
      height: 100%;
      font-family: 'Montserrat', sans-serif;
      color: #E1E1E1;

      .logo__primary{
         @extend .no-margin-padding;
         font-size: 1.2em;
         font-weight: 300;
         margin-right: 5px !important;
      }

      .logo__secondary{
         @extend .no-margin-padding;
         font-size: 1.2em;
         font-weight: 600;
      }
   }

   .menu{
      @extend .flex-center-div;
      height: 100%;
      
      .option{
         transition: .3s;
         font-family: 'Montserrat', sans-serif;
         font-weight: 500;
         font-size: 1em;
         text-decoration: none;
         color: #E1E1E1;
         margin-right: 20px;
         padding: 8px;
         border-radius: 5px;

         &:hover{
            transition: .3s;
            background-color: #3a4d66;
         }
      }
   }

   .teaser{
      @extend .flex-center-div;

      p{
         transition: .3s;
         width: 130px;
         text-align: center;
         padding: 8px;
         border: 1px solid #E1E1E1;
         border-radius: 5px;
         color: #E1E1E1;
         text-decoration: none;
         font-family: 'Montserrat', sans-serif;
         font-size: 1em;

         &:hover{
            transition: .3s;
            cursor: pointer;
            scale: 1.08;
            color: #3a4d66;
            background-color: #E1E1E1;
         }
      }
   }
}


.flex-center-div{
   display: flex;
   justify-content: center;
   align-items: center;
}

.no-margin-padding{
   margin: 0;
   padding: 0;
}



