.container{
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   .background{
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      margin: 0;
      padding: 0;
      filter: brightness(.8) blur(2px);
      -webkit-mask-image: linear-gradient(to top, transparent, black, black);
      mask-image: linear-gradient(to top, transparent, black, black);
   }
}