.container{
   animation: init .5s both;
   position: absolute;
   width: 75%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   border-radius: 10px;
   top: 10%;
   transform: translate(-50%, -50%);
   background-color: #222222aa;
   backdrop-filter: blur(5px);
   z-index: 100;

   .icon{
      display:flex;
      justify-content: flex-end;
      width: 98%;
      margin-bottom: 1%;
      margin-top: 1%;

      .close{
         transition: .3s;
         border-radius: 100%;
         color: white;
         font-size: 1.5em;
         cursor: pointer;

         &:hover{
            transition: .3s;
            scale: 1.04;
            background-color: white;
            color: #222;
         }
      }
   }

   .iframe{
      border-radius: 10px;
      width: 95%; 
      height: 88%;
   }
}

@keyframes init {
   0%{
      opacity: 0;
      transform: translateX(20px);
   }
   100%{
      opacity: 1;
      transform: translateX(0);
   }
}

@media screen and (max-width: 1000px) {
   .container{
      top: 10%;
      width: 95%;
      height: 80%;
   }
}

@media screen and (max-width: 600px) {
   .container{
      top: 30%;
      width: 95%;
      height: 40%;

      .icon{
         margin-top: 2%;
         margin-bottom: 2%;
         margin-right: 2%;
      }
   }

}